*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* carousal css override */
.slick-next{

    z-index: 9;
    background-color: transparent !important;
    top: 50%;
    left: 95%;
    width: 48px !important;
    height: 48px !important;
    border-radius: 50% !important;
    color: #333 !important;
    font-size: 0.1rem !important;
    /* display: none !important; */


    /* right: 0px; */
}
/*  
.slick-next:hover{
     display: inline-block; 

}
 */


.slick-prev{
    background-color:none !important;
    z-index: 9 !important;
    left: 15px !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    color:white !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box;

}

